@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary-color : #34D399;
    --focus-text: tan;
    --off-white: #F8F0E3;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    text-align: center;
}
img{
    width: 40px;
}
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.link-primary{
    background-color: var(--focus-text);
    color: white;
    border-radius: 0.5rem;
    max-width: 200px;
}
.link-secondary{
    color: var(--focus-text);
    border: 1px solid var(--focus-text);
    background: transparent;
    border-radius: 0.5rem;
    max-width: 100px;
}
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}

header{
    background-color: var(--focus-text);
}
h1{
    margin-top: 0;
    padding: 0.5rem;
}

button{
    cursor: pointer;
    border: none;
    margin: 1rem auto;
    font-size: 15px;
}
#output,textarea{
    max-width: 600px;
    max-height: 200px;
    width: 70%;
    height: 100%;
    display: block;
    margin: 1rem auto;
    padding: 1rem;
    border: 5px var(--focus-text) solid;
    border-radius: 2rem;
    font-size: 20px;
    text-align: center;
}
.btn,h3{
    margin: 1rem auto;
}
ul{
    padding-inline-start: 0;
}
.fab,.fas{
    font-size: 30px;
    color: var(--focus-text);
    margin: 0 0.5rem;
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}